global
daemon
log 127.0.0.1 local0
log 127.0.0.1 local1 notice
maxconn 4096

defaults
log               global
retries           3
maxconn           2000
timeout connect   5s
timeout client    50s
timeout server    50s

frontend localhost
bind *:80
mode http
acl should_use_cloudgontroller path_beg /v3/buildpacks AND method GET
acl should_use_cloudgontroller path_beg /docs
acl should_use_cloudgontroller path_beg /healthz
use_backend cloudgontroller if should_use_cloudgontroller
default_backend cloud_controller_ng

backend cloud_controller_ng
mode http
server cloud_controller_ng localhost:8181

backend cloudgontroller
mode http
server cloud-controller localhost:8282
